<div class="container">
  <h2>User Management System</h2>

  <!-- Add User -->
  <div class="card">
    <input type="text" placeholder="Enter name" [(ngModel)]="name">

    <select [(ngModel)]="role">
      <option>Admin</option>
      <option>User</option>
      <option>Guest</option>
    </select>

    <button (click)="addUser()">Add User</button>
  </div>

  <!-- Filter -->
  <div class="filter">
    <label>Filter by Role:</label>
    <select [(ngModel)]="selectedRole">
      <option>All</option>
      <option>Admin</option>
      <option>User</option>
      <option>Guest</option>
    </select>
  </div>

  <!-- User List -->
  <div class="list">
    <div
      class="user-card"
      *ngFor="let user of filteredUsers(); let i = index"

      [ngClass]="{
        'admin-card': user.role === 'Admin',
        'user-card-normal': user.role === 'User',
        'guest-card': user.role === 'Guest'
      }"

      [ngStyle]="{ color: getTextColor(user.role) }"

      appHoverHighlight="#dbeafe"
    >

      <span>
        {{ user.name }} ({{ user.role }})
      </span>

      <!-- Admin-only content -->
      <span class="admin-badge" *appIfAdmin="user.role">
        ADMIN
      </span>

      <button class="remove" (click)="removeUser(i)">Remove</button>
    </div>
  </div>
</div>
